* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
  Cantarell, Noto Sans, sans-serif;
  background:#F5EBE5 ;
}

#sidebar {
  position:absolute;
  top:0px;
  left:-200px;
  width:200px;
  height:100%;
  
  transition:all 300ms linear;
}
#sidebar.active {
  left:0px;
}
#sidebar .toggle-btn {
  position:absolute;
  left:220px;
  top:10px;
}
#sidebar .toggle-btn span {
  display:block;
  width:35px;
  height:5px;
  background:#625240;
  margin:5px 10px;
  cursor:pointer;
}
#sidebar div.list div.item {
  padding:15px 10px;
  border-bottom:1px solid #625240;
  color:#625240;
  text-transform:uppercase;
  font-size:17px;
  font-family: Playfair;
}
@font-face {
  font-family: 'Moontime';
  src: url(fonts/MoonTime-Regular.ttf);
}
@font-face {
  font-family: 'Playfair';
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}
.first{
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}


 .post p1{
  text-align:center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #625240;
  font-family: Playfair;
  font-size: 2.5vh;
 }
 
 .post p{
    text-align:center;
  font-size: 18vw;
  width: 900px;
  margin: 0;
  padding: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #625240;
  font-family: Moontime;
  font-weight: 100;
  }
 .post1 p{

  text-align:center;
  font-size: 1vh;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #625240;
  font-family: Moontime;
  }
   img{
    background-size: 100px;
    width: 250px;
    height: 200px;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
 
 .pic{
    width: 80vh;
    height: auto;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  @media only screen and (max-width:760px){
    .pic{
      width: 16px;
      Height:16px;
      align-items: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); 
    }
    .post1 p{

      text-align:center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: #625240;
      font-family: Moontime;
      font-size: 1vh;
      }
    img{
    width:16px;
    Height:16px;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  }
